@page
@using Microsoft.AspNetCore.Authorization
@using UI
@inject IAuthorizationService AuthorizationService
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h2 class="display-4">Welcome to the UI client</h2>
</div>